.hero {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-color: transparent;
}

.hero h3 {
	display: block;
	font-size: 1.75rem;
	color: var(--ifm-color-primary);
}
.hero p {
	font-size: 1rem;
	color: var(--ifm-color-emphasis-500);
	margin-bottom: 0;
}

.hero i {
	margin-left: auto;
}

@media (min-width: 997px) {
	.hero p {
		max-width: 80%;
	}
}
